<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Share!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<style>
    h1{
        font-family: "Trocchi", serif;
    }

    body {
        font-family: "Poppins", sans-serif;
        margin: auto;
        padding: auto;
        max-width: 80%;
        background-image: url('/static/img/food2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;

    }
</style>
<body>
    <h1 style="background-color: #FFD0B9; text-align: center; margin: 15px; border: 2px solid black; border-radius: 15px; padding: 25px">Welcome to RecipeShare!
        <img src="/static/img/rice_bowl.png" alt="foodbowl" width="100px" height="100px">
    </h1>
    <div class = "d-flex justify-content-between">
        <div class="card border-primary mb-3" style="border: 1px solid black; margin: 30px; padding: 15px; width: 45%; border-radius: 10px">
            <div class="card-header bg-info p-2 text-dark" style="font-size: 2.5rem; border-radius: 10px; padding: 5px; --bs-bg-opacity: 0.2">
                Register
                <img src="/static/img/cooking.png" alt="cooking" width="100px" height="100px">
            </div>
            <div style="font-size: 24px; text-align: center" class="text-danger">
                {% with messages = get_flashed_messages(category_filter=["register"]) %}   
            <!-- declare a variable called messages -->
                    {% if messages %}                            
                <!-- check if there are any messages -->
                        {% for message in messages %}            
                    <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
                <form action="/register" method="POST" class="mb-3" style="margin-top: 10px">
                    <div class="mb-4" style="font-size: 1.5rem">
                        <label for="first_name" class="form-label">First Name:</label>
                        <input type="text" class="form-control-lg" placeholder="First Name" name="first_name">
                    </div>

                    <div class="mb-4" style="font-size: 1.5rem">
                        <label for="last_name" class="form-label">Last Name:</label>
                        <input type="text" class="form-control-lg" placeholder="Last Name" name="last_name">
                    </div>

                    <div class="mb-4" style="font-size: 1.5rem">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control-lg" placeholder="Email" name="email">
                    </div>

                    <div class="mb-4" style="font-size: 1.5rem">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control-lg" placeholder="Password" name="password">
                    </div>

                    <div class="mb-4" style="font-size: 1.5rem">
                        <label for="password" class="form-label">Confirm Password:</label>
                        <input type="password" class="form-control-lg" placeholder="Confirm Password" name="confirmpassword">
                    </div>
                    <div class="card-footer bg-white">
                        <input type ="submit" value="Register" class="btn btn-success btn-lg">
                    </div>
                </form>
            </div>
        
            <div class="card border-primary mb-3" style="border: 1px solid black; margin: 30px; padding: 15px; width: 45%; border-radius: 10px">
                <div class="card-header bg-info p-2 text-dark" style="font-size: 2.5rem; border-radius: 10px; padding: 5px; --bs-bg-opacity: 0.2">
                    Login
                    <img src="/static/img/cooking2.png" alt="cooking2" width="100px" height="100px">
                </div>
                <div style="font-size: 24px; text-align: center" class="text-danger">
                    {% with messages = get_flashed_messages(category_filter=["login"]) %}   
                <!-- declare a variable called messages -->
                        {% if messages %}                            
                    <!-- check if there are any messages -->
                            {% for message in messages %}            
                        <!-- loop through the messages -->
                                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <form action="/login" method="post" class="mb-3" style="margin-top: 10px">
                    <div class="mb-4" style="font-size: 1.5rem">
                        <label for="login_email" class="form-label">Email:</label>
                        <input type="textarea" class="form-control-lg" placeholder="Email" name="email">
                    </div>
                    <div class="mb-4" style="font-size: 1.5rem">
                        <label for="login_password" class="form-label">Password:</label>
                        <input type="password" class="form-control-lg" placeholder="Password" name="password">
                    </div>
                    <input type="submit" value="Login" class="btn btn-success btn-lg">
                    <div class="card-footer bg-white" style="margin: 35px">
                        <img src="/static/img/cooking3.png" alt="cooking3" width="400px" height="400px">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>