*{
  margin-right: 20%;
  padding: 10px;
  background-color: #fbf4e4;
  text-align: left;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #fbf4e4; */
  min-height: 20vh;
  display: flex;
  flex-direction: horizontal;
  /* align-items: center; */
  justify-content: left;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
