<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ALL USERS</title>
</head>
<body class="bg-light text-center text-dark" style="font-family: monospace">
    <h1 style="font-weight: bold">All Users</h1>
    <table class="table">
        <thead class="thead-light thead-color-pink" style="font-size: 2rem; font-weight: bold">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody class="bg-light" style="font-size: 1.4rem">
            <tr>
                <td scope="row">{{user.id}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-info" href="/users" style="margin: 25px; font-size: 1.35rem">Return</a>
</body>
</html>