<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cookies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="card" style="font-family: monospace; margin: 50px">
        <div class="card-body">
            <div class="container2 pt-5 bg-light text-black text-center" style="font-size: 4rem; font-weight: bold; margin: 5px;">
                <p>Modify {{cookie.customer_name}}'s Order</p>
            </div>
            <div class="d-flex justify-content-around mt-5" style="margin: 50px; font-size: 2.5rem">
                <p></p>
            </div>
            <div class="container3" style="font-size: 2rem">

                <form action="/cookie/edit/{{cookie.id}}" method="POST">
                    <div class="form-group">
                        <label for="customer_name" style="font-size: 1.25rem">Customer Name</label>
                        <input type="text" class="form-control text-center" name="customer_name" value="{{cookie.customer_name}}">
                    </div>

                    <div class="form-group">
                        <label for="cookie_type" style="font-size: 1.25rem">Cookie Type</label>
                        <input type="text" class="form-control text-center" name="cookie_type" value="{{cookie.cookie_type}}">
                    </div>

                    <div class="form-group">
                        <label for="number_of_boxes" style="font-size: 1.25rem">Number Of Boxes</label>
                        <input type="text" class="form-control text-center" name="number_of_boxes" value="{{cookie.number_of_boxes}}">
                    </div>
                    <button type="submit" class="btn btn-primary" style="font-size: 1.25rem">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>