@charset "UTF-8";

*{
	margin: auto;
	padding: auto;
	text-align: center;
	font-family: cascadia code;
	max-width: 1000px;
	
}

.column1, .column2{
	display: inline-flex;
	flex-direction: horizontal;
	border: 1px solid black;
	
}


h4{
	margin:auto;
	display: inline-flex;
	flex-direction: horizontal;
	justify-content: space-between;
	width:700px;
}

.container1, .container2{
	padding: 25px;
	width: 800px;
	margin-right: 50%;
	margin-top: 25px;
}


.container3, .container4, .container5{
	display: flex;
	flex-direction: horizontal;
	margin: 25px;
	white-space: nowrap;
}

container5{
	display:flex;
	flex-direction: horizontal;
	
}